:root {
    --clr1: #383b41;
    --clr2: #87898d;
    --clr3: #21ac91;
    --clr4: #19a59f;
    --clr5: #22252c;
    --clr6: #3cafcd;
    --clr7: #3ac34f;
    --clr8: #e33b36;
    --clr9: #048b97;
    --clr10: #015d33;
    --clr11: #8c0606;
    --clr12: #d1a11d;
    --clr13: #8c5606;

    --s: 600px;
    --m: 890px;
    --w: 1060px; 
}