* {
    box-sizing: border-box;
}

html {
    font-family: playfair, serif;
    color: var(--clr1);
}

body{
    background-color: var(--clr5);
    margin: 0;
}
header{
  height: 100px;
  transition: 0.3s;
  background:  linear-gradient(-60deg, var(--clr3) 50%, var(--clr4) 50%);  margin: 10px 3px;
  border-radius: 10em;
}

  

.logo{
    height: 90px;
   box-shadow: none;
   margin-top: 2px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



canvas {
    width: 500px;
    height: 500px;
    border: 10px solid var(--clr1) ;
    border-radius: 20px;
  }
